body {
  background-color: cadetblue;
  height: 100%;
  width: 100%;
}

.footer {
  background-color: cadetblue;
  height: 100px;
  position: relative;
  text-align: center;
}

.konten1 {
  height: 600px;
  width: 100%;
  background-color: rgb(48, 217, 223);
}

ul li {
  height: 5%;
  width: 5%;
}
